* {
    list-style: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    position: relative;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(imagen/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Header*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
    z-index: 3;
}
.menu-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
header .menu ul{
    list-style: none;  
}
header .menu ul li{
    position: relative;
    float: left;
    margin-right: 10px;
}
header .menu ul li a{
    font-size: 18px;
    padding: 23px;
    margin-top: -15px;
    color: #fff;
    display: block;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header .menu ul li a:hover{
    background-color: #333;
}
header .menu ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    display: none;
}
header .menu ul li ul li{
    width: 100%;
}
header .menu ul li ul li a{
    margin-top: 0px;
    margin-left: -40px;
    background-color: #121212;
}
header .menu ul li:hover > ul{
    display: initial;
}
@keyframes fadeInOut {
    0%{
        background-color: rgba(18, 18, 18, 0);
    }
    50%{
        background-color: rgba(18, 18, 18, 0.5);
    }
    100%{
        background-color: #121212;
    }
}
.fade-in-out{
    animation: fadeInOut 0.3s ease;
}
.logo{
    height: 56px;
    margin-left: 35px;
}
#menu{
    display: none;
}
.menu-icono{
    width: 40px;
}
label[for="menu"] {
    cursor: pointer;
    display: none;
}
.btn{
    margin-left: auto; /* Empuja el botón hacia la derecha */
    margin-bottom: 10px;
    padding: 10px 24px;
    border-radius: 30px;
    background-color: #e6cbd169;
    color: #F2F2F2;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.btn:hover{
    background-color: #970126;
}
@media (max-width: 1024px){
    header .menu-container{
        flex-direction: column;
    }
    header .menu{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: #121212;
        display: none;   
    }
    header .menu ul{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    header .menu ul li{
        width: 100%;
        margin: 0;
    }
    header .menu ul li a{
        min-width: 100%;
        margin-top: 0;
        font-size: 15px;    /*Tamano de letra de la lista de items*/
    }
    header .menu ul li ul{
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header .menu ul li ul li a{
        background-color:rgba(46, 44, 44, 0.8);
        margin-left: 0;
    }
    label[for="menu"] {
        display: initial;
    }
    .logo{
        margin-left: 0;
        height: 48px;
    }
    .btn{
        width: 145px;
        margin-left: 0;
        padding: 10px 0;
        margin-top: 15px;
        font-size: 15px;    /*Tamano de letra de la lista del boton*/
    }
    #menu:checked ~ .menu{
        display: initial;
    } 
}

/*COBERTURA-ESPACIO*/
.cobertura-container{
    position: relative;
    width: 100%; height: 100%;
    background-color: #206cdf;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container-cobertura{
    position: relative;
    top: 36%;
    text-align: center;
    line-height: 1.35;
}
.text-container-cobertura h1{
    color: #f2f2f2;
    font-size: 25px;
    font-weight: lighter;
}
.text-container-cobertura h1 strong{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}
@media (width <= 700px){
    .text-container-cobertura{
        line-height: 1.5;
    }
    .text-container-cobertura h1{
        font-size: 17px;
    }
    .text-container-cobertura h1 strong{
        font-size: 20px;
    }
}

/*ESPACIO DE SLIDERS COBERTURA*/
.cobertura-container-space{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.card{
    width: 15%;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(.28,-0.03,0,.99); 
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}
.card > .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.card > .row > .icon{
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    transform: translateY(60%);
}
.card > .row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition-delay: 0.3s;
    transition: all 0.3s ease;
}
.description p{
    color: #b0b0ba;
    padding-top: 5px;
}
.description h4{
    text-transform: uppercase;
}
.container input{
    display: none;
}
.container input:checked + label{
    width: 40%;
}
.container input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.container input:checked + label .icon{
    transform: translateY(0);
}
.card[for="c1"]{
    background-image: url('../imagen/img-01.jpg');
}
.card[for="c2"]{
    background-image: url('../imagen/img-02.jpeg');
}
.card[for="c3"]{
    background-image: url('../imagen/img-03.jpg');
}
.card[for="c4"]{
    background-image: url('../imagen/img-04.jpg');
}
@media (width <= 991px){
    .cobertura-container-space{
        padding: 50px 0;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .wrapper{
        padding: 0;
    }
    .card{
        width: 80%;
        margin: 10px 0;
    }
    .container input:checked + label{
        width: 95%;
        height: 380px;
    }
}
@media (width <= 590px){
    .card > .row > .icon{
        transform: translateY(100%);
    }
}
@media (width <= 310px){
    .card > .row > .icon{
        transform: translateY(140%);
    }
}


/*Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    margin: 0;
    margin-top: auto;
    padding: 0;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    margin-top: -15px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    display: flex;
    align-items: center;
    line-height: 1.4;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box p img{
    width: 35px;
    margin-right: 15px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:991px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 240px;
        margin-left: -80px;
    }    
}